.App {
  background-color: #FFFFFF;
}

/*Header*/
.header{
  color: #274856;
  font-family: 'Montserrat', sans-serif;
}
.header a{
  color: #274856;
  text-decoration: none;
}
/*Header*/

/*Form*/
.label1{
  font-family: 'Montserrat', sans-serif;
  color:#274856;
  padding: 20px;
}
.label2{
  padding: 20px;
  font-family: 'Montserrat', sans-serif;
  color:#274856;
}
.button1{
  font-family: 'Montserrat', sans-serif;
  background-color: #274856;
  color: #FFFFFF;
  border: 2px solid #274856;
  border-radius: 15px;
  text-align: center;
  width: 100px;
  height: 45px;
  margin: 20px;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
}
.button1:hover{
  background-color: #FFFFFF;
  color: #274856;
}
/*Form*/

/*Clients*/
.head1{
  font-family: 'Montserrat', sans-serif;
  color: #274856;
  text-align: center;
  font-weight: bold;
}
.btnclient{
  font-family: 'Montserrat', sans-serif;
  background-color: #274856;
  color: #FFFFFF;
  border: 2px solid #274856;
  border-radius: 15px;
  text-align: center;
  width: 200px;
  height: 40px;
  margin: 20px;
}
.btnclient:hover{
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}
.btnclient1{
  font-family: 'Montserrat', sans-serif;
  background-color: #274856;
  color: #FFFFFF;
  border: 2px solid #274856;
  border-radius: 15px;
  text-align: center;
  width: 200px;
  height: 50px;
  margin: 20px;
}
.btnclient1:hover{
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}
.label3{
  font-family: 'Montserrat', sans-serif;
}
.txt{
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  text-align: right;
  margin-bottom: 0rem;
  color:#274856;
}
/*Clients*/
/*ClientCards*/
.btncards{
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  background-color: #274856;
  color: #FFFFFF;
  border: 2px solid #274856;
  border-radius: 15px;
  text-align: center;
  width: 170px;
  height: 80px;
  margin: 20px;
}
.txt1{
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  margin-bottom: 0rem;
}
.btncards:hover{
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}
.btnmod{
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  background-color: #274856;
  color: #FFFFFF;
  border: 2px solid #274856;
  border-radius: 15px;
  text-align: center;
  width: 200px;
  height: 70px;
}
.btnmod:hover{
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}
.coln{
  padding-left: 2rem;
  display: flex;
}
/*ClientCards*/
/*Table*/
.btntable{
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  background-color: #274856;
  color: #FFFFFF;
  border: 2px solid #274856;
  border-radius: 15px;
  text-align: center;
  width: 150px;
  height: 40px;
}
.btntable2{
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  background-color: #274856;
  color: #FFFFFF;
  border: 2px solid #274856;
  border-radius: 15px;
  text-align: center;
  width: 170px;
  height: 40px;
  margin: auto;
  display: block;
}
.labtab{
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  color: #274856;
  text-align: center;
}
.btntab2{
  width: 30px;
  height: 30px;
  background-color: #FFFFFF;
  margin-top: 20px;
  border: 2px solid #FFFFFF;
}
.btntabcad{
  width: 30px;
  height: 30px;
  background-color: #FFFFFF;
  border: 2px solid #FFFFFF;
}
.btntable:hover{
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

/*Table*/
/*Frame*/
.btnfr{
  font-family: 'Montserrat', sans-serif;
  background-color: #274856;
  color: #FFFFFF;
  border: 2px solid #274856;
  border-radius: 15px;
  text-align: center;
  width: 150px;
  height: 40px;
}
.btnfr:hover{
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.head2{
  font-family: 'Montserrat', sans-serif;
  color: #274856;
  font-weight: bold;
  padding-top: 7px;
  padding-bottom: 7px;
}
.rowfr{
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 10px;
}

/*Frame*/